/** @format */
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  background-color: white;
  color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container-wrapper {
  max-width: 600px;
  margin: auto;
  padding: 0 1rem;
  border-radius: 3px;
  color: white;
  margin-bottom: 6rem;
}

h2 {
  font-size: 2rem;
  text-align: center;
  color: #0f72be;
}

.names {
  display: flex;
  flex-direction: column;
}

.names * {
  margin-bottom: 5px;
}

.docter-checkbox {
  display: flex;
  margin-top: -10px;
  align-items: center;
}

.docter-checkbox div {
  display: flex;
  align-items: center;
}

.border-b {
  border-bottom: 1px solid #d1d5db;
  margin-bottom: 1rem;
  padding-bottom: 10px;
}

.birthdate-input {
  display: flex;
  align-items: center;
}

.birthdate-input select {
  display: flex;
  flex-direction: row;
  width: 6rem;
  padding: 8px;
  border-radius: 2px;
  margin-right: 3px;
  margin: 0 1rem;
  background-color: white;
}

.birthdate p {
  margin: 0px;
}

span {
  font-size: 13px;
}

.contact {
  display: flex;
  flex-direction: column;
}

.contact * {
  margin-bottom: 5px;
}

.equipments {
  background: #2680c5;
  padding: 4px;
  border-radius: 5px;
}

.equipments span {
  font-size: 13px;
  display: block;
  margin-left: 3px;
  margin-bottom: 0;
  color: white;

  margin-top: 10px;
}

.equipments input {
  color: white;
  border: none;
}

.section {
  margin: auto;
  background: #0f72be;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.section-label {
  display: flex;
  justify-content: center;
}

.checkbox {
  display: inline-block;
  height: 20px;
  display: inline-block;
  margin: 8px;
  width: 20px;
}

.numberInput {
  width: 5rem;
  margin: 1rem 0;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid gray;
}

.acknowledgment {
  color: #0f72be;
}

.blood-group {
  padding: 8px;
  color: rgb(31, 27, 27);
}

.donor-names {
  display: flex;
  font-weight: 500;
  font-size: 1.5rem;
  justify-items: center;
}
